body {
    background-color: #148BA6;
    color: #444;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.header{
    background-color: #fff;
    width: 90%;
    margin: 16px auto;
    padding: 16px;
    border: 1px solid #999;
}

.header h1 {
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.header h3 {
    font-size: 20px;
    padding: 8px 0;
    margin: 0;
}

.header p {
    padding: 0;
    margin: 0;
}

.section {
    position: relative;
    background-color: #fff;
    width: 90%;
    margin: 16px auto;
    padding: 16px;
    border: 1px solid #999;
}

.imagen-fondo {
    display: block;
    background-image: url(https://picsum.photos/id/119/1000/600);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.imagen-fondo:hover {
    opacity: .5;
}

.section .experiencia-laboral {
    /* background-color: red; */
    display: inline-block;
    position: relative;
    vertical-align:top;
    margin: 0;
    padding: 0;
    width: 49.5%;
}

.section .estudios-cursos {
    /* background-color: red; */
    display: inline-block;
    position: relative;
    vertical-align:top;
    margin: 0;
    padding: 0;
    width: 49.5%;
}

.section .item {
    position: relative;
    display: block;
    /* background-color: red; */
    margin: 8px 0;
    padding: 8px;
    border-left: 3px solid #148BA6;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.section .item:hover {
    background-color: #C9E7F2;
}

.section .item h3{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 8px 0;
}

.section .item h4{
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
}

.section .item p{
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
}

.section .galeria .imagen{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 32.5%;
    height: 300px;
    overflow: hidden;
}

.section .galeria .imagen .fondo{
    position: relative;
    display: block;
    /* background-color: red; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.section .galeria .imagen .texto {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    background-color: #0000008c;
    color: white;
    font-weight: bold;
    padding: 5%;
    z-index: 999;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.section .galeria .imagen .fondo:hover {
    opacity: .5;
}

.section .galeria .imagen:hover .texto {
    bottom: 0;
}

.footer {
    background-color: #fff;
    width: 90%;
    margin: 16px auto;
    padding: 16px;
    text-align: center;
    border: 1px solid #999;
}

.footer a{
    color: #148BA6;
    font-size: 80%;
}

// Ayuda
.title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
